<h1>Editing bouwplan</h1>

<% form_for(@bouwplan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bouwplan %> |
<%= link_to 'Back', bouwplannen_path %>