<h1>Bouwplannen in Enschede</h1>
<html><head><title>Test</title>
  <%= GMap.header %>
  <%= @map.to_html %>
  <%= @map.div(:width => '50%', :height => '600px') %>
<%= link_to('New bouwplan', new_bouwplan_path)  %>