body, html {
	margin: 0;
	padding:0;
	font-family: georgia, Times, 'Times New Roman', Serif;
	
}

h1 {
   font-size: 2em;
	font-weight: normal;
}

h3 {
	margin: 0;
}

em {
	color: #7fb539;
	font-style: normal;
}

strong {
	color: #ff0000;
	font-weight: normal;
}

#index {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 50%;
	min-width: 500px;
	
}
#index li {
	float: left;
	margin: 0;
	padding: 2%;
	width: 96%;
	border-bottom: 1px dashed #555;
}
#map_div {
	min-width: 500px;
	min-height: 500px;
	float: left;
}