body, html {
	margin: 0;
	padding:0;
	font-family: georgia, Times, 'Times New Roman', Serif;
	
}

h1 {
   font-size: 2em;
	font-weight: normal;
}

h3 {
	margin: 0;
}

em {
	color: #7fb539;
	font-style: normal;
}

strong {
	color: #ff0000;
	font-weight: normal;
}

.inline_h3 p, .inline_h3 h3 {
	display: inline;
}

h1, h2, h3 {
	font-family: 'Neue Helvetica Condensed', Impact, 'Arial Black', sans-serif;
	font-weight: normal;
}

h1 {
}

h2 {
	margin-top: 0;
	color: #666;
	
}

h3 {
	font-size: .9em;
}

#content {
	float: left;
	width: 48%;
	padding: 0 1%;
	min-width: 500px;
}

#index, #explanation {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}
#index li {
	float: left;
	margin: 0;
	padding: 2% 0 ;
	width: 96%;
	border-bottom: 1px dashed #555;
}
#map_div {
	min-width: 500px;
	min-height: 500px;
	float: left;
}