
<div id="explanation">
	<p>Op 2 maart zijn er provinciale verkiezingen. De provincie speelt een belangrijke rol in het gebruik van de ruimte, en dus kan in de provincie voorkomen worden dat er geld wordt verspilt aan grootschalige projecten zonder perspectief. Plannen die noch voor de economie, noch voor ons welzijn, noch voor de natuur goed zijn. Hier een overzicht van <strong><%=als_geldbedrag( @totaal_bedrag )%></strong> aan projecten. Dit geld kan volgens <strong>Groen</strong><em>Links</em> veel beter besteed worden. Lees over onze alternatieven en kies voor de toekomst.</p>	
<p>Projecten opgenomen:	<% @punten.each do |p| %>
	  <%= link_to p.titel,p %>
	<% end %>
</p>	
</div>

<ul class="menu admin">
	<li><%= link_to 'Nieuwe bodemloze put', new_put_path %></li>
</ul>