
<div id="explanation">
	<p>Bestuurders zien zichzelf graag als daadkrachtig en visionair. Dat daar wel eens plannen en projecten uitrollen waarvan nut en noodzaak twijfelachtig zijn, is misschien begrijpelijk. Maar dat die plannen en projecten desondanks doorgezet worden en heel vaak uitmonden in zinloze verspilling van openbare middelen en het verwoesten van natuur en landschap, is iets waar we geen begrip voor hebben. Dat is geld in een ‘bodemloze put’ gooien.</p>

	<p>Met deze site willen we deze putten in kaart brengen, zodat voor alle burgers duidelijk is waar en hoeveel er wordt verspilt aan geld– en natuurwaarden-verspillende projecten.</p>

	<p>Op dit moment hebben we al een lijst van projecten waar in totaal al meer dan <strong><%=als_geldbedrag( @totaal_bedrag )%></strong> is ingegooid. Neem <a href="/contact">contact met ons op</a> wanneer u uw eigen kennis en tips kwijt wilt. En aarzel vooral niet om daar ook uw aanvullingen en/of verbeteringen door te geven.</p>
	
<p>Projecten opgenomen:	<%=opsomming @punten%></p>
</p>	
</div>
<% if current_user_is_admin? %>
<ul class="menu admin">
	<li><%= link_to 'Nieuwe bodemloze put', new_put_path %></li>
</ul>
<% end %>