<h2>Alternatief <strong><%=h @put.titel %></strong></h2>

<p>
  <%=h @put.omschrijving %>
</p>

<dl>
	<dt>
  Geïnvesteerd:
	</dt>
	<dd>
  <strong>€<%=number_with_delimiter( @put.geinvesteerd, delimiter=".")%>,-</strong>
	</dd>
</dl>

<h3>Het alternatief van <strong>Groen</strong><em>Links</em></h3>
<p>
  <%=h @put.alternatief %>
</p>

<p>Beter, nietwaar? Kies 2 maart voor <strong>Groen</strong><em>Links</em>. Klik rustig op een ander punt op de kaart om een andere bodemloze put te bekijken ga terug naar de <a href="/">thuispagina</a>, of lees meer over alle andere toekomstgerichte plannen op <a href="http://overijssel.groenlinks.nl"><strong>Groen</strong><em>Links</em> overijssel</a></p>
